<div class="container mx-auto px-4 py-8">

  <% unless logged_in? %>
    <div class="mb-6 bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4" role="alert">
      <p>Please <%= link_to "log in", login_path, class: "underline" %> to submit new links.</p>
    </div>
  <% end %>

  <div id="links" class="space-y-4">
    <%= render @links %>
  </div>

  <% if @links.empty? %>
    <p class="text-gray-600 text-center mt-8">No links have been submitted yet.</p>
  <% end %>
</div>
